<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300&display=swap" rel="stylesheet" />

  <!-- Custom CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css'%}" />
</head>

<body>
  <main class="wrapper">
    <header>
      <a href="{% url 'index' %}"><h1 class="main-header">Photogur</h1></a>

      <form id="search-form" action="{% url 'picture_search' %}" method="get">
        <div class="field">
          <label for="picture-search">Search: </label>
          <input type="search" id="picture-search" name="query" value="{{query}}" placeholder="Enter Artist Name" />
        </div>

        <button class="submit-btn" type="submit">Go!</button>
      </form>

      <nav class="main-nav">
        <ul>
          {% if request.user.is_authenticated %}
            <li>
              Welcome {{user.username}}, <a href="{% url 'logout' %}">Log Out</a>
            </li>
            <li><a href="{% url 'picture_new' %}">New Picture</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Create an Account</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
      <p>Copyright &copy; Django-Photogur 2019</p>
    </footer>
  </main>
</body>
</html>