{% extends 'base.html' %}

{% block content %}
  <section class="picture-details content">
    <div class="title-wrapper">
      <h2>{{picture.title}}</h2>
      <h3>By {{picture.artist}}</h3>
    </div>

    <img src="{{picture.url}}" alt="{{picture.title}}" />
    <hr>

    <div class="comment-section">
      <h2>Comments</h2>

      <ul class="comment-wrapper">
        {% for comment in picture.comments.all %}
        <li>
          <p class="message">{{comment.message}}</p>
          <p class="author">Posted by {{comment.name}} on {{comment.created_at}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}