* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  background: #f7fdff;
}

header {
  margin: 0;
  padding: 0 2rem;
  border: 1px solid lightgray;
  border-left: none;
  border-right: none;
  background: #f0f1f3;
}

.main-header {
  font-size: 4rem;
  font-weight: 700;
  color: gray;
  padding: 2rem 0;
}

footer {
  padding: 2rem 0;
  background: #333;
}

footer p {
  text-align: center;
  color: lightgray;
}

a, a:visited {
  text-decoration: none;
  color: gray;
}

a:hover, a:active, a:focus {
  color: darkgray;
}

img {
  width: 100%;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #add2ff;
  font-family: 'Roboto', sans-serif;
  color: gray;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: paleturquoise;
  color: #eee;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

#search-form {
  margin: 2rem auto;
}

.field, .submit-btn {
  display: inline-block;
}

.field input, .submit-btn {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
}

.content {
  margin: 2rem;
}

.picture-card {
  display: block;
  margin: 0 auto;
}

.card-item {
  max-width: 360px;
  border: 1px solid lightgray;
  padding: 1rem;
  margin: 2rem auto;
}

.pic-title {
  font-size: 1.8rem;
  font-weight: 700;
  border-bottom: 1px solid gainsboro;
  padding: 2rem 0;
  text-transform: capitalize;
}

.comment-count {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  padding: 1rem 0;
}

.title-wrapper {
  margin: 2rem 0;
}

.title-wrapper h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
}

.title-wrapper h3 {
  line-height: auto;
}

.picture-details img {
  margin-bottom: 2rem;
}

.comment-section {
  margin: 2rem 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.comment-section ul {
  margin: 4rem 0;
}

.comment-section li {
  padding: 2rem;
}

.comment-section li:nth-child(odd) {
  background: #ededfb;
}

.comment-section li:nth-child(even) {
  background: #e6e6ff;
}

.comment-section h2 {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3rem;
}

.comment-section .message {
  font-size: 1.8rem;
  padding: 1rem 0;
}

.comment-section .author {
  font-size: 1.4rem;
  color: #666;
}

@media only screen and (max-width: 320px) {
  .content {
    margin: 0 2rem;
  }
  
  #search-form input {
    width: 150px;
  }

  .search-results {
    padding: 2rem 0;
  }
}

@media only screen and (min-width: 768px) {
  .picture-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }

  .comment-section li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .comment-section .author {
    text-align: right;
    align-self: center;
  }

  .comment-section .message, .comment-section .author {
    display: inline-block;
    vertical-align: middle;
  }
}

@media only screen and (min-width: 1025px) {
  .content {
    max-width: 1200px;
    margin: 0 auto;
  }

  .main-header {
    text-align: center;
  }

  .picture-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
  }

  #search-form {
    text-align: center;
  }

  .search-results {
    padding: 2rem 0;
  }
}